:root {
  --orange: #e5772a;
  --white: #ffffff;
  --dark: #111315;
  --accentDark: #2d2d2d;
  --activeTable: #94f484;
}
.primary-color {
    color: var(--orange) !important;
}
.primary-bg-color {
    background-color: var(--orange) !important;
}
.btn-primary {
  background-color: var(--orange) !important;
  border-color: var(--orange);
  color: var(--white) !important;
}
.btn-link {
  color: var(--orange);
}
.btn-link:hover {
  color: var(--white);
}
.btn-dark {
  background-color: var(--accentDark) !important;
}
.btn-dark:hover {
  background-color: #46484b !important;
}
.btn-primary:hover {
  background-color: var(--accentDark) !important;
  border-color: var(--orange);
}
.border-light {
	--bs-border-opacity: 1;
	border-color: #666 !important;
}
.dis-none {
  display: none !important;
}
.text-left {
  text-align: left;
}
.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
	background-image: linear-gradient(0deg,var(--orange) 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
.form-control, .form-control:focus {
  border-color: #444;
  color: var(--white);
  border: 1px solid #535353;
  transition: all 0.3s ease-in-out;
}
body {
    background-color:  var(--dark) ;
    color: var(--white);
    font-family: 'Cairo';
    font-size: 15px;
    overflow: scroll !important;
}
.voka-slider {
    display: flex;
    width:100%;
}


.voka-slider .item {
    flex: 1;
}
#all-tables .active {
    display: block ;
}
.c-bg-dark {
    background-color: var(--accentDark) !important;
}
.sidenav {
  width: 80px;
}
.navbar  {
    padding: 25px;
}
.navbar-brand {
	font-size: 20px;
}
.nav-body .navbar-nav {
  padding-right: 0;
}
.nav-body .nav-item {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(white);
  margin-top: 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.nav-body .nav-item.active, .nav-body .nav-item:hover {
  background-color: var(--orange);
  color: var(--white);
}
.search {
  width: 100%;
}
.seacr-bar .search {
  width: 320px;
}
.seacr-bar .search-input {
  width: 85px !important;
  height: 30px;
}
.seacr-bar .search-input::placeholder {
  color: #979797;
}
.seacr-bar .search-btn {
  margin-right: 0px;
}
.seacr-bar .search-btn:hover {
  color: var(--orange);
}
.search-input {
	width: 140px !important;
	background-color: var(--dark);
}
.search .form-control {
  border-color: var(--dark);
  background-color: #353535;
  border: var(--bs-border-width) solid #353535;
}
.search-btn {
    margin-right: -50px;
    background: none;
    color: var(--white);
}
.search-btn:hover {
    color: var(--accentDark);
}
.time-filter .form-control {
  width: 65px;
  height: 16px;
  background-color: var(--accentDark);
  color: var(--white);
  background-image: none;
}
.time-filter div {
  gap: 8px;
  align-items: center;
}
.time-filter p, .time-filter button {
  margin-bottom: 0 !important;
}
.stat-select, .stat-select:focus {
  border-color: var(--orange);
}
.navbar-collapse {
	flex-grow: 0;
}
.avatar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .dropdown-item {
    text-align: right;
  }
  .main {
    padding-top: 30px;
  }
  .card-col {
    margin: 14px 0;
  }
.card {
  background-color:var(--dark);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.home-card .card {
  width: 100%;
}
.home-card .card p {
  margin-bottom: 8px;
}
.home-card .active-card, .home-card .card:hover {
  background-color: var(--orange);
}
  .for-bg {
    height: 210px;
    background-image: url('../images/Slice.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .c-table {
    width: 105px;
    height: 105px;
    background-color: var(--activeTable);
    border-radius: 50%;
  }
  .c-table span {
    font-size: 22px;
    font-weight: bold;
  }
  .table-side-bar {
    display: none;
  }
  .tab-nav-wraper {
    padding: 0 16px 0 16px;
  }
  .drag{
    position: relative;
  }
  .order-remove {
    position: absolute;
    height: 100%;
    width: 53px;
    top: 0;
    right: 0;
    border-radius: 18px;
    z-index: -1;
  }
  .dragged .order-remove {
    z-index: 2;
  }
  .new-reserv-btn i {
    font-size: 40px;
  }
.c-nav-tabs {
    border: none;
    padding-right: 0;
}
  .tabcontent {
    display: none;
  }
  .bill-info {
    background-color: var(--accentDark) !important ;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 4px;
  }
  .bill-info .list-group-item {
    padding: 4px 16px !important;
  }
  .nav-link {
    color: #fff;
    font-size: 17px;
    border: none;
  }
  .active {
    display: block;
  }
  .c-nav-tabs  .nav-item  {
    background: none;
    color: #fff;
    padding: 6px;
    transition: all 0.3s ease;
  }
  .c-nav-tabs  .nav-item:hover, .c-nav-tabs  .nav-item .active {
    background: none;
    background-color: var(--orange);
    color: #fff;
    border-radius: 4px;
    border: none;
  }
  .nav-tabs-navigation .nav-tabs  .nav-item  {
    background: none;
    color: #fff;
    padding: 6px;
    transition: all 0.3s ease;
  }
  .nav-tabs-navigation .nav-tabs  .nav-item a {
    padding: 10px 22px;
    font-size: 18px;
    color: var(--white);
  }

.nav-tabs-navigation .nav-tabs  .nav-item:hover, .nav-tabs-navigation .nav-tabs  .nav-item .active {
    background: none;
    background-color: var(--orange);
    color: #fff;
    border-radius: 4px;
    border: none;
}
.nav-tabs-navigation .nav-tabs  .nav-item:hover a {
  border-color: var(--orange);
  color: var(--white);
}
  .c-nav-tabs  .nav-item:hover a {
    border-color: var(--orange);
    color: var(--white);
  }
  .nav-item .active a {
    color: var(--white);
    border: none;
  }
  .tab-content  {
    padding: 32px 16px 0 16px;
    font-size: 14px;
 }
 .tab-content .c-tab-pane {
  display: none;
}
 .tab-content .c-tab-pane.active {
  display: block !important;
 }
 .tab-content .list-group {
    padding-right: 0;
    overflow: hidden;
 }
 .c-nav-tabs, .list-group-item, .paing-wrp {
    background-color: var(--accentDark);
    color: #fff;
    border: none;
    margin-bottom: 4px;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;
}
.paing-wrp {
  /*z-index: 9999;*/
  position: relative;
}
.paing-wrp .list-group-item :first-child {
	margin-right: 0;
}
.new-menu-li:before {
  display: none;
}
.new-menu-li a {
  color: var(--white);
  font-size: 20px;
}
.paing-wrp .modal-dialog {
  margin-right: auto !important;
}
.paing-wrp .modal:hover {
  background: none !important;
}
.list-group-item :first-child {
	/* margin-right: 2rem; */
	color: #fff;
}
/* .list-group-item .col-4, .list-group-item  .payment-icon, .list-group-item  .payment-icon i, .payment-method .btn {
  margin-right: 0;
} */
.fw-bold {
	font-weight: 400 !important;
}
.menu-info-list:before{
  display: none;
}
.menu-info-list  {
  border: 1px dashed #fff;
}
.menu-info-list p {
  margin-bottom: 0;
}
.total {
    border-top: 1px solid var(--accentDark);
    padding-top: 20px;
    font-size: 20px;
}
.payment-method {
    margin-top: 50px;
}
.payment-method .active {
  background-color: var(--orange);
}
.payment-icon {
    /* width: 93px; */
    height: 47px;
    border: 1px solid var(--orange);
    border-radius: 4px;
}
.payment-method p {
  font-size: 13px;
  margin-top: 6px;
}
.consfirm-text {
  color: var(--dark);
  font-size: 22px !important;
}
/***********       Menu Page             ****************/
.menu-category-wrap img {
  width: 32px;
}
.menu-category-wrap .card {
  height: 100%;
}
.menu-category-wrap .card-title {
  font-weight: 700;
  text-align: right;
}
.menu-category-wrap .more {
  height: 100%;

}
.menu-category-wrap .more .more-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-category-wrap .dropdown {
  height: 100%;
  width: 100%;
}
.menu-category-wrap .dropdown .btn {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: var(--accentDark);
}
.menu-category-wrap .dropdown-toggle::after {
	display: none;
}
.menu-category-wrap .dropdown-menu {
  background-color: var(--accentDark);
}
.menu-category-wrap .dropdown-menu .card {
  border-bottom: 1px solid #4a4a4a;
  border-radius: 0;
}
/*********** Menu Items **************************/
.menu-item-img {
  text-align: center;
  padding-top: 16px;
}
.menu-item-img img {
  width: 60%;
}
.menu-items .card-body header p {
  font-size: 24px;
  font-weight: 700;
}
.menu-items .card-body footer {
  padding: 12px 0 8px 0;
  border-top: 1px solid #ffffff4d;
  font-size: 18px;
}
.menu-items .card-body footer .fa-solid {
  padding: 6px 8px;
  border: 1px solid #fff;
  border-radius: 5px;
}
/******* table menu *************/
.count-wrap {
  margin-right: 7px;
}
/****************************************** صفحة الحجوزات ***************************************/
.today-time {
    display: flex;
  justify-content: center;
  gap: 28px;
  align-content: center;
  font-size: 18px;
}
#datepicker {
  display: none;
}
.calendar-icon {
  position: relative;
  display: inline-block;
}
.calendar-icon i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
}

.calendar-icon i:hover {
  color: var(--orange); /* قم بتغيير اللون حسب الاحتياج */
}
.arrows {
  font-size: 20px;
}
.filter-wrap {
  cursor: pointer;
}
.filter-img {
  width: 32px;
}
/******************************* the time line ******************************************/
.timeline-wrap {
  white-space: nowrap;
  padding-top: 4rem;
}
.horizontal-scroll {
  white-space: nowrap;
  overflow-x: scroll;
}
.head-hour-cel {
  border-bottom: 1px solid var(--accentDark);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.body-hour-cel {
  border-bottom: 1px solid var(--accentDark);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*************************************************************** New reversation page **************************************/
.top-title {
  font-size: 1.2rem;
  font-weight: 700;
}
.addgustbtn {
    font-size: 20px;
    padding: 6px 32px;
}
.close-icon {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--orange);
}
.reservation-tabs div.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: var(--white);
  background: var(--accentDark);
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.reservation-tabs div.card h2 {
  font-size: 30px;
  font-weight: 700;
}
.packages-card .card {
  height: auto ;
}
.reservation-tabs div.card .package-text {
  font-size: 20px;
}
.reservation-tabs div.card.active-card {
  background-color: var(--orange);
}
.reservation-tabs div.card.card-plain {
  background: transparent;
  box-shadow: none;
}
.reservation-tabs div.card .card-header {
  border-radius: 3px;
  /* padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border: 0; */
}
.reservation-tabs .card-footer {
	padding: .75rem 1.25rem;
	background-color: rgb(255, 255, 255, 0);
	border-top: 1px solid rgba(0,0,0,.12);
}
.reservation-tabs .card-plain .card-header:not(.card-avatar) {
  margin-left: 0;
  margin-right: 0;
}
/* .active-card, .card:hover {
	background: none;
} */
.reservation-tabs .div.card .card-body{
  padding: 15px 30px;
}
.reservation-tabs .tab-content {
  color: #fff;
}
.reservation-tabs div.card .card-header-danger {
  /* background: linear-gradient(60deg,var(--orange),#bb6424); */
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.1), 0 13px 24px -11px rgba(244,67,54,.4);
}
.reservation-tabs .card-c-nav-tabs .card-header {
  margin-top: -30px!important;
}
.reservation-tabs .card .card-header .c-nav-tabs {
  padding: 0;
  background: none;
}
.reservation-tabs .c-nav-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
}
.reservation-tabs .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.reservation-tabs .c-nav-tabs .nav-item {
  margin-bottom: -1px;
}
.reservation-tabs .c-nav-tabs .nav-item .nav-link.active {
  background-color: var(--orange);
  transition: background-color .3s .2s;
}
.reservation-tabs .c-nav-tabs .nav-item .nav-link{
  border: 0!important;
  color: #fff!important;
  font-weight: 500;
}
.reservation-tabs .c-nav-tabs .nav-item .nav-link {
  color: #fff;
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 15px;
  background-color: transparent;
  transition: background-color .3s 0s;
}
.reservation-tabs .nav-link{
  display: block;
}
.reservation-tabs .nav .nav-item {
  position: relative;
}
.new-reservation-tables .card {
	background-color: var(--accentDark);
	color: var(--white);
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
/*.new-reservation-tables .active-card, .new-reservation-tables .card:hover {*/
/*  background-color: var(--orange) !important;*/
/*}*/
.reservation-tabs footer{
  margin-top:100px;
  color: #555;
  background: #fff;
  padding: 25px;
  font-weight: 300;
}
.reservation-tabs .footer p{
  margin-bottom: 0;
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
}
.reservation-tabs footer p a{
  color: #555;
  font-weight: 400;
}
.reservation-tabs footer p a:hover {
  color: #9f26aa;
  text-decoration: none;
}
/********************** side bar *************************************/
.side-nav {
  list-style: none;
  padding: 0;
}
.side-nav .nav-item {
  margin-bottom: 10px;
}
.side-nav .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.side-nav .nav-link i {
  margin-right: 5px;
}
.side-nav .content-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.side-nav .content {
  position: absolute;
  top: 0;
  right: 100%;
  width: 200%;
  height: 100%;
  background: #f2f2f2;
  padding: 20px;
  transition: left 0.3s ease-in-out;
}
.side-nav .show {
  left: 0;
}
.side-nav .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
/*************************** new Reservation page **********************************************/
.reservation .nav-item {
  border-bottom: 1px solid #575757;
}
.side-items .icon, .side-items .chevro {
   flex: 1;
   position: relative;
}
.side-items .guests {
  flex: 2;
}
.icon-btn-group {
  margin: 0;
}
.my-drop {
	position: absolute;
	width: 200px;
	top: 0;
	right: 110%;
	z-index: 1;
	background-color: #2d2d2d;
  display: none;
}
.active-list {
  background-color: var(--orange);
}
#all-packages {
  display: block;
}
#allguests .card-title {
  font-size: 18px;
}
#allguests a {
  color: #fff;
  font-size: 18px;
}
.tel {
  direction: ltr;
}
.reservation-tabs {
  display: none;
  height: 100%;
}
.form-inline .form-control {
    background-color: var(--accentDark);
    padding: 8px 12px;
}
/********************** data page *************************************************/
.ftco-section {
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.elegant-calencar {
  max-width: 700px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16); }

.wrap-header {
  position: relative;
  width: 45%;
  background: var(--orange); }
  @media (max-width: 767.98px) {
    .wrap-header {
      width: 100%;
      padding: 20px 0; } }

#header {
  width: 100%;
  position: relative; }
  #header .pre-button, #header .next-button {
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px; }
    #header .pre-button i, #header .next-button i {
      color: #fff; }

.pre-button {
  left: 5px; }

.next-button {
  right: 5px; }

.head-day {
  font-size: 8em;
  line-height: 1;
  color: #fff; }

.head-month {
  font-size: 2em;
  line-height: 1;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase; }

/*.calendar-wrap {*/
/*  width: 100%;*/
/*  background: #fff;*/
/*  padding: 40px 20px 20px 20px; }*/

/*#calendar {*/
/*  width: 100%; }*/

/*#calendar tr {*/
/*  height: 3em; }*/

/*thead tr {*/
/*  color: #000;*/
/*  font-weight: 700; }*/

/*tbody tr {*/
/*  color: #000; }*/

/*tbody td {*/
/*  width: 14%;*/
/*  cursor: pointer;*/
/*  -webkit-transition: all 0.2s ease-in;*/
/*  -o-transition: all 0.2s ease-in;*/
/*  transition: all 0.2s ease-in;*/
/*  position: relative;*/
/*  z-index: 0; }*/
/*  tbody td:after {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    content: '';*/
/*    width: 44px;*/
/*    height: 44px;*/
/*    margin: 0 auto;*/
/*    -webkit-transform: translateY(-50%);*/
/*    -ms-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*    border-radius: 50%;*/
/*    -webkit-transition: 0.3s;*/
/*    -o-transition: 0.3s;*/
/*    transition: 0.3s;*/
/*    z-index: -1; }*/
/*    @media (prefers-reduced-motion: reduce) {*/
/*      tbody td:after {*/
/*        -webkit-transition: none;*/
/*        -o-transition: none;*/
/*        transition: none; } }*/

/*tbody td:hover, .selected {*/
/*  color: #fff;*/
/*  border: none; }*/
/*  tbody td:hover:after, .selected:after {*/
/*    background: #2a3246; }*/

/*tbody td:active {*/
/*  -webkit-transform: scale(0.7);*/
/*  -ms-transform: scale(0.7);*/
/*  transform: scale(0.7); }*/

#today {
  color: #fff; }
  #today:after {
    background: var(--orange); }

#disabled {
  cursor: default;
  background: #fff; }

#disabled:hover {
  background: #fff;
  color: #c9c9c9; }
  #disabled:hover:after {
    background: transparent; }

#reset {
  display: block;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 999;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 0 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 11px; }

#reset:hover {
  color: #fff;
  border-color: #fff; }

#reset:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }
/******************************** time line *****************************/
.clock {
	font-size: 50px;
	color: #fff;
	font-weight: 700;
	text-align: center;
}
.popover {
	background-color: var(--accentDark);
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
	box-shadow: 0 .25rem .5rem rgba(0,0,0,.2);
}
.clockpicker-popover .popover-title, .clockpicker-popover .popover-content {
	background-color: var(--accentDark);
	color: var(--white);
}
.text-primary {
	color: var(--orange) !important;
}
.clockpicker-canvas, .clockpicker-dial {
	background-color: #111;
	color: #fff;
	border-radius: 50%;
}
.clockpicker-tick {
	color: #bbb8b8;
}
.popover-title{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
/************************ الحالات ****************************/
.allstatus {
  padding-top: 10rem;
}
.allstatus label {
  font-size: 25px;
}
.allstatus .btn-secondary.custom-file-control::before, .allstatus .btn.btn-secondary {
	color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.scale-up {
  transform: scale(1.4);
  transition: transform 0.3s ease-out;
}

.slide-left {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.all-halls {
  display: block;
}
.wait-card .card {
  height: auto;
}
/********* add new guset *********************/
.modal-content {
	border: 0;
	border-radius: .125rem;
	background-color: var(--accentDark);
}
.active-list .to-pay {
    color: var(--white) !important ;
}
.to-pay {
    height: 100%;
    color: var(--dark) !important ;
}
.to-pay:hover {
    background-color: var(--dark) !important;
    color: var(--dark) !important ;
}
.no-border {
    border-bottom: 0 !important;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	opacity: 0;
}
.choos-btn {
    padding-left: 30px;
}

.modal-content {
	border: 0;
	border-radius: .125rem;
	background-color: var(--accentDark);
}
.reservations-container .btn-secondary {
  background-color: #303132;
  border-color: #303132;
}
.table {
  border-color: #323232;
  font-size: 14px;
}
.table .tr-head {
  height: 64px;
  vertical-align: middle;
  cursor: pointer;
}
.table > :not(caption) > * > * {
	padding: .5rem .5rem;
	color: var(--white);
	background: none;
	border-bottom-width: var(--bs-border-width);
	box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)));
}
tbody td::after {
	display: none;
}
tbody td:hover::after, .selected::after {
	background: none;
}
table .table-time {
  gap: 6px
}
table .lines {
  gap: 14px;
}
table .line {
  width: 13px;
  height: 1px;
  background-color: var(--white);
}
table .active-day {
  background-color: var(--orange);
}
.reservations-list .list-group-item {
  border-radius: 0;
}
.show-table-li {
  margin-top: 32px;
  background: none;
  padding: 0;
}
.show-table-li:before {
  display: none;
}
.statue {
  padding: 4px 8px;
  border-radius: 4px;
}
#casher-section{
    width:24%;
}
.casher-box {
    display: none;
}
.tab-content .casher-box {
    display: flex;
}
#pay .reversed  {
    display: flex;
}
#today {
    color: var(--orange);
}
/*___________________________________*/
/*--------------------------------------------*/
.table-activation {
    display: flex;
    position: relative;
    background-color: #177b4d;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    /*padding: 4px 8px;*/
    border-radius: 99px;
    width: 55%;
    direction: ltr;
    justify-content: space-between;
  }
  
  .table-activation * {
    z-index: 2;
  }
  
  .table-activation input[type="radio"] {
    display: none;
  }
  
  .table-activation .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  
  .table-activation input[type="radio"]:checked + label {
    color: #000;
  }
  
  .table-activation input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #000;
    margin: 0px;
  }
  
  .table-activation input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  
  .table-activation input[id="radio-2"]:checked ~ .glider {
    transform: translateX(87%);
  }
  
  .glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 68px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
  
  @media (max-width: 700px) {
   
    .table-activation {
      transform: scale(0.6);
    }
  }
  .hall-branch {
      display: none;
  }
  #app .nav-item a { 
      color: #fff !important;
  }
  #app .active a { 
      color: #000 !important;
      background-color: var(--orange) !important;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: var(--bs-nav-tabs-link-active-color);
	background-color: var(--orange) !important;
}
.halls-tab {
    background-color: #000 !important;
}
#app .nav-tabs {
	border-bottom: 1px solid #000;
}
#app .table th {
    color: #fff !important;
}
#app .table td {
    width: 100px;
}
#alltime .row .btn-clock {
	 width: 220px !important; 
	margin-left: 20px !important;
	background: #4caf50 !important;
	color: #fff !important;
	
}
.time-slots {
    text-align: right;
}
/*.reservation .side-nav {*/
/*	padding-top: 150px;*/
/*}*/
/*.table-side-bar .reversed {*/
/*    display: none !important;*/
/*}*/
/*.table-side-bar .list-group-numbered {*/
/*    display: flex;*/
/*}*/

.none {
    display: none !important;
}
.form h1 {
    font-size: 20px;
}
.form label {
    margin-bottom: 16px;
    color: var(--orange);
}
.form input, .form .form-control {
    background-color: #333 !important;
    color: var(--white);
    font-family: "arial" !important;
}
.form .form-control {
	background-image: none !important ;
}

.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #5F11E8;
  --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
  --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(.11,.29,.18,.98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--white);
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--white);
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}

.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}
/*------------------------------------------------------------------------------ 10 - 8 -------------------------------------------------------------*/
.nav-tabs {
	border-color: #2d2d2d;
}
.tab-content {
	padding: 0;
	font-size: 14px;
}
.reservation-tabs div.card {
	 margin-top: 0 !important; 
}
/*----------------------- top action section -------------------------------*/
.top-actions {
    border-bottom: 1px solid #2d2d2d;
    /*margin-bottom: 30px;*/
}
.top-actions .card {
  text-align: right !important;
}
.top-actions .card .card-body {
  padding-right: 10px !important;
}
.top-actions .card .top-icon {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}
.top-actions .card .card-text {
  color: #fff;
}
.top-actions .dropdown-toggle {
  padding: 0;
  color: var(--white);
  font-size: 15px;
}
.top-actions .dropdown-menu {
  text-align: right;
  background-color: var(--accentDark);
  color: var(--white);
}
/* inner notification */
.top-text-block {
  display: block;
  padding: 15px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: var(--white);
  white-space: inherit !important;
  border-bottom: 1px solid #5d5d5d;
  position: relative;
}
.top-text-block:hover:before {
  content: '';
  width: 4px;
  background: #f05a1a;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.top-text-block.unread {
  background: #ffc;
}
.top-text-light {
  font-size: 14px;
  margin-top: 8px;
  color: var(--orange);
}
/* end of inner notification */
.languages .dropdown-toggle {
  font-size: 18px;
}
.lock {
  font-size: 35px;
  cursor: pointer;
  text-align: center;
}
.top-actions .new-reserv-btn {
    border: 1px dashed var(--white);
}
.top-actions .new-reserv-btn i {
	font-size: 20px !important;
	margin-left: 15px;
}
/*----------------------- end of top action section -------------------------------*/
/*----------------------- end of top action section -------------------------------*/
/* ------------- new design for the tables -----------------*/
.sofa {
  cursor: pointer;
}
.sofa .modal-header .btn-close {
  margin: 0 !important;
}
.sofa .table-vvip h2 {
  transform: rotate(270deg);
  font-size: 25px;
}
.sofa .table-vip h4 {
  font-size: 16px;
}
/*-------------- Dine Set tables ----------------------*/
.sofa .table-dine {
  position: relative;
}
.sofa .table-dine h4 {
	z-index: 3;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.sofa .table-dine svg {
  transform: scale(1.8);
}
.sofa-serv .table-dine h4 {
  color: var(--accentDark);
}
/*-------------- end of Dine Set Tables ---------------*/
/*----------------- table modal -------------------------*/
.sofa .modal-header .btn-close {
	margin: 0 !important;
	background-color: aliceblue;
}
.table-modal .list-group {
  padding: 0 !important;
}
.table-modal .left {
  text-align: right;
  flex: 1;
}
.table-modal .right {
  text-align: left;
  flex: 1;
}
/*----------------- end of table modal -------------------------*/
/* ------------- end of new design for the tables -----------------*/
/*--------------------- new css for the reversation page ---------------------------*/
.top-prev {
	margin-right: auto;
	padding: 7px 32px;
}
.discount-inputs {
    gap: 6px;
}
.discount-inputs .form-select {
    color: var(--accentDark);
}
.discount-inputs .discount-input {
    font-family: 'arial';
    background-color: #2d2d2d;
    border: none;
      border-bottom-width: medium;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
    border-bottom: 1px solid #404040;
    box-shadow: none;
}
/*------------------------------- new salon page css ------------------------------------*/
.home-salon {
  display: flex;
}
.items-group {
    border-bottom: 1px solid #373737;
      padding-bottom: 4px;
      padding-top: 4px;
}
.items-group:nth-last-of-type(1) {
    border: none;
}
/*------------------------------- new salon page css ------------------------------------*/
.home-salon {
  display: flex;
}
.card-item {
  border-bottom: 1px solid #333;
}
.have-bg {
	background-color: var(--accentDark);
	padding-top: 12px;
	border-radius: 8px;
}
.table-side-bar .nav-tabs {
	border-bottom: 1px solid #000;
  margin-bottom: 10px;
  background-color: var(--accentDark);
  padding: 8px 12px;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
}
.list-group-numbered > .list-group-item::before {
	content: counters(section, ".") ". ";
	counter-increment: section;
  display: none;
}
.table-side-bar a {
	color: #b3b3b3;
	text-decoration: none;
}
.table-side-bar .nav-tabs > li.active > a, 
.table-side-bar .nav-tabs > li.active > a:focus, 
.table-side-bar .nav-tabs > li.active > a:hover {
	color: var(--white);
	cursor: default;
	background-color: var(--accentDark);
	border: 1px solid var(--accentDark);
	border-bottom-color: transparent;
}
.table-side-bar .nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: var(--accentDark);
}
.table-side-bar .tab-content {
	padding: 8px 16px 0 16px;
	font-size: 14px;
}
.rev-item {
  border-bottom: 1px solid #3d3c3c;
  padding-bottom: 12px;
}
.first-tabb {
    padding: 0 20px;
}
.rev-time {
	background-color: #111;
	padding: 4px;
	font-size: 10px;
	width: 36px;
	border-radius: 4px;
}
.rev-info {
  flex: 1;
  padding-right: 6px;
}
.rev-info h4{
  font-size: 14px;
  margin-top: 0;
}
.rev-info p{
  font-size: 10px;
  margin-bottom: 0;
}
.rev-statu p {
  margin: 0;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 4px;
}
.rev-statu span {
  font-size: 10px;
}
.rev-statu .s-time {
  font-size: 16px;
}
.tablebrowse .casher-box {
    display: block;
    padding-right: 0;
}
.hidden-tab {
    display: none;
}
.table-side-bar .active-tab {
    display: block;
}
.box-block {
    display: block !important;
}
.food-items {
    padding-right: 0 !important;
    padding: 10px;
}
.food-items .list-group-item {
    border-radius: 0;
    border-bottom: 1px solid #555;
}
.appended {
    display: block !important;
}
/*------------------------------- end new salon page css ------------------------------------*/
#pill .modal-content {
	background-color: var(--white);
}
#invoice-POS {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding: 2mm;
  margin: 0 auto;
  width: 75%;
  background: #FFF;
}
#invoice-POS ::selection {
  background: #f31544;
  color: #FFF;
}
#invoice-POS ::moz-selection {
  background: #f31544;
  color: #FFF;
}
#invoice-POS h1 {
  font-size: 1.5em;
  color: #222;
}
#invoice-POS h2 {
  font-size: 1.2em;
}
#invoice-POS h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
#invoice-POS p {
  font-size: 0.7em;
  color: #666;
  line-height: 1.2em;
}
#invoice-POS #top, #invoice-POS #mid, #invoice-POS #bot {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #EEE;
}
#invoice-POS #top {
  min-height: 100px;
}
#invoice-POS #mid {
  min-height: 80px;
}
#invoice-POS #bot {
  min-height: 50px;
}
#invoice-POS #top .logo {
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
  background-size: 60px 60px;
}
#invoice-POS .clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}
#invoice-POS .info {
  display: block;
  margin-left: 0;
}
#invoice-POS .title {
  float: right;
}
#invoice-POS .title p {
  text-align: right;
}
#invoice-POS table {
  width: 100%;
  border-collapse: collapse;
}
#invoice-POS .tabletitle {
  font-size: 0.5em;
  background: #EEE;
}
#invoice-POS .service {
  border-bottom: 1px solid #EEE;
}
#invoice-POS .item {
  background-color: var(--white);
}
#invoice-POS .itemtext {
  font-size: 0.8em;
}
#invoice-POS #legalcopy {
  margin-top: 5mm;
}
#invoice-POS tbody td {
    width: 14%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 0;
    background-color: var(--white);
}
#invoice-POS .tabletitle {
    font-size: 0.5em;
    /* background: #818181; */
    border-radius: 0px;
    background-color: #eee;
}
.discount-select {
    width: 105px;
    display: inline-block;
}
     .new-reversation .fa-plus {
            margin-left: 6px;
        }

        .calc {
            font-size: 30px;
            cursor: pointer;
        }

        /*--------------------------------------------- css for the lock screen ----------------------------------------*/
        .closed-screen {
            width: 100%;
            height: 100vh;
            background-color: rgb(27, 27, 27);
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 9999;
            display: none;
        }

        .opened-screen {
            display: block;
        }

        .lock-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            direction: ltr;
        }

        #waiter-notification {
            display: none;
            /* Other modal styles */
        }

        .pin-container {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: white;
            border-radius: 8px;
        }

        .pin-input {
            width: 60px;
            padding: 8px;
            text-align: center;
            font-size: 18px;
        }

        .pin-submit {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .numeric-keypad {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            margin-top: 10px;
        }

        .numeric-key {
            width: 60px;
            height: 60px;
            font-size: 24px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .numeric-key:hover {
            background-color: #ccc;
        }

        /*----------------------------------------------end of the lock screen css code ----------------------------------------*/
        /*--------------------------------- the calculater css -----------------------------------------------------------------*/
        .the-calc {
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
            background-color: #202020;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            direction: ltr;
        }

        .calc-container {
            position: relative;
            min-width: 300px;
            min-height: 400px;
            padding: 40px 30px 30px;
            border-radius: 20px;
            box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
                10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
                inset 5px 5px 15px rgba(0, 0, 0, 0.25);
            width: 500px;
        }

        .calc-container span {
            color: #fff;
            position: relative;
            display: grid;
            width: 80px;
            place-items: center;
            margin: 8px;
            height: 80px;
            background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
            box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
                inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
                10px 20px 25px rgba(0, 0, 0, 0.4);
            user-select: none;
            cursor: pointer;
            font-weight: 400;
            border-radius: 10px;
        }

        .calculator span:active {
            filter: brightness(1.5);
        }

        .calculator span::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 4px;
            bottom: 14px;
            right: 12px;
            border-radius: 10px;
            background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
            box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
                10px 5px 10px rgba(0, 0, 0, 0.15);
            border-left: 1px solid #0004;
            border-bottom: 1px solid #0004;
            border-top: 1px solid #0009;
        }

        .calculator span i {
            position: relative;
            font-style: normal;
            font-size: 1.5em;
            text-transform: uppercase;
        }

        .calculator {
            position: relative;
            display: grid;
        }

        .calculator .value {
            position: relative;
            grid-column: span 4;
            height: 100px;
            width: calc(100% - 20px);
            left: 10px;
            border: none;
            outline: none;
            background-color: #a7af7c;
            margin-bottom: 10px;
            border-radius: 10px;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
            text-align: right;
            padding: 10px;
            font-size: 2em;
        }

        .calculator .clear {
            grid-column: span 2;
            width: 180px;
            background: #f00;
        }

        .calculator .clear::before {
            background: linear-gradient(90deg, #d20000, #ffffff5c);
            border-left: 1px solid #fff4;
            border-bottom: 1px solid #fff4;
            border-top: 1px solid #fff4;
        }

        .calculator .plus {
            grid-row: span 2;
            height: 180px;
        }

        .calculator .equal {
            background: #2196f3;
        }

        .calculator .equal::before {
            background: linear-gradient(90deg, #1479c9, #ffffff5c);
            border-left: 1px solid #fff4;
            border-bottom: 1px solid #fff4;
            border-top: 1px solid #fff4;
        }

        .active-calc {
            display: flex;
            z-index: 9999;
        }

        .inactive-calc {
            display: none;
        }

        /*-------------------------------- loading css ----------------------------------------*/
        .loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 24px;
            display: none;
            /* Start hidden */
        }

        .loading-screen .lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }

        .lds-ellipsis div {
            position: absolute;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #fff;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }

        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(0);
            }
        }

        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(24px, 0);
            }
        }

        /*--------------- the notifcation card css style -------------------*/
        .active-notification {
            display: block;
        }

        .noitification-card {
            /*position: fixed;*/
            /*bottom: 50px;*/
            /*right: 50px;*/
            background-color: var(--accentDark);
            padding-top: 30px;
            padding-bottom: 30px;
            /*z-index: 9999;*/
        }
        .noitification-card .card-subtitle {
            font-size: 27px;

        }

        /*--------------- end of  notifcation card css style -------------------*/